//色や数値などの変数を登録します
// 例：$black: #000000;

$black: #000;
$white: #fff;
$gray: #ccc;
$red: #e2002f;
$pink: #ffb5bd;
$darkPink: #ff8d99;
$pinkForNumber: #ff9aa4;
$lightGreen: #cdff8a;

$bgc: #fffdfd;
$font: #5c4627;
